<%= stylesheet_link_tag 'home_about', :media => "all" %>

<div class="about-main">
<h2><span class = "logo">Un!ver.</span><span class = "font">とは...</span></h2>
<p>
    <span class = "num">2022</span>年に<%= link_to("富所雅人","https://masamasamasato.github.io/tomi.github.io/#third-block") %>によって開発された過去問共有サービスです。</p>
<p>

</p>
<p>
コロナによって先輩とのつながりがなくなってしまい過去問が手に入りづらくなってしまう。
</p>
<p>
あるいはサークルに入っていないため先輩とのつながりがないから過去問が手に入らない。
</p>
<p>
そういった大学生特有の問題を解決するために開発しました。
</p>
<p>

</p>

</p>
<br>
<br>
<br>
<br> <!-brは開業したい時に超便利->
<br>
<br>
<br>
<br>
</div>