<%= stylesheet_link_tag 'home_about', :media => "all" %>

<div class="about-main">
<h2><span class = "logo">Un!ver.</span><span class = "font">とは...</span></h2>
<p>
    <span class = "num">2022</span>年に<%= link_to("富所雅人","https://masamasamasato.github.io/tomi.github.io/#third-block") %>によって開発された過去問共有サービスです。</p>
<p>

</p>
<p>
コロナによって先輩とのつながりがなくなってしまい過去問が手に入りづらくなってしまう。
</p>
<p>
あるいはサークルに入っていないため先輩とのつながりがないから過去問が手に入らない。
</p>
<p>
そういった大学生特有の問題を解決するために開発しました。
</p>
<p>

</p>

</p>
<br>
<br>
<br>
<br> <!-brは開業したい時に超便利->
<br>
<br>
<br>
<br>
</div>


<div class="container">
<div class="main container-fluid">
    <div class="row bg-light text-dark py-5">
        <div class="col-md-8 offset-md-2">
            <h2 class="fs-1 mb-5 text-center fw-bold">お問い合わせ</h2>
            <form action="https://api.staticforms.xyz/submit" method="post">
                <input type="hidden" name="accessKey" value="ee15939a-a13e-4a1b-ba2c-f6350594fc17"> <!-- Required -->
                <div class="mb-3">
                    <input type="text" class="form-control" name="name" placeholder="名前（必須）" value="" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="住所" placeholder="住所" value="">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" name="email" placeholder="メールアドレス（必須）" value="" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="phone" placeholder="電話番号" value="">
                </div>
                <div class="mb-4">
                    <textarea class="form-control" name="message" rows="5" placeholder="メッセージを入力してください"></textarea>
                </div>
                <div class="form-check mb-4">
                    <input type="hidden" name="redirectTo" value="https://universitycommunity.herokuapp.com/home/thanks">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                    <label class="form-check-label" for="flexCheckIndeterminate">
                      利用規約に同意します。
                    </label>
                  </div>
                <div class="text-center pt-4 col-md-6 offset-md-3">
                    <button type="submit" class="btn btn-primary">送信</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>


        