<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">
  この度は過去問共有サービスUniverへお問い合わせいただき誠にありがとうございます。</p>
  <hr>
  <p>
  お送り頂きました内容を確認の上、数日以内に折り返しご連絡させて頂きます。
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to our service</a>
  </p>
</div>