.btn{
    cursor: pointer;
    &.btn-block{
        padding: 10px 40px;
        border-width: 1px;
        border-style: solid;
        border-image: initial;
        color: black;
        font-weight: 600;
    }
    &.btn-danger{
        background-color: white;
        color: black;
    }
    &.btn-primary{
        background-color: #1eb9f4;
        color: white;
    }
    
}